@model List<OnlineShoppingStore.DAL.Tbl_Category>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Categories</li>
    </ol>
</div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Category Details
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sr. Nr.</th>
                        <th>Category Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Sr. Nr.</th>
                        <th>Category Name</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach(var item in Model) 
                    {
                    <tr>
                        <td>@(Model.IndexOf(item)+1)</td>
                        <td>@item.CategoryName</td>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

